@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
$bootstrap-icons-font-dir: "../node_modules/bootstrap-icons/font/fonts";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons";
