$fontColor: #ff0000;


body {
  background: aquamarine;
}

.custom-title{
  font-size: 32px;
  color: greenyellow;
  margin-top: 0;
  border: 1px solid darkslateblue;
  padding: 16px 32px;
  text-align: center;
}

.custom-paragraph {
  font-size: 18px;
  color: red;
  margin: 20px;
}